<div>
<nav class="navbar navbar-expand-lg navbar-light bg-primary bg-primary" style="margin-bottom:20px">
  <!-- Navbar content -->
  <div class="container-fluid">
    <h5>Games</h5>

    <ul class="navbar-nav mb-2 mb-lg-0 d-flex" style="float: right;">
      <li class="nav-item"><a class="nav-link"   routerLink="login">Login</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="medals">Live</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="teams">Teams</a></li>
      <li class="nav-item"><a class="nav-link"  routerLink="register">Register</a></li>
      <li class="nav-item"><a class="nav-link"  href="404">Contact</a></li>
    </ul>
  </div>
</nav>
</div>
<router-outlet></router-outlet>
